
body{
/*    background:#f0f0f0;
    color:#000;*/
    /*font-family: monospace;*/
    font-size:16px;
}

header {
    height: 60px;
    position: relative;
    display: block;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}


logo {
    display: block;
    position: relative;
    text-align: center;
}


.rm_container{
    margin: 0 130px;
    overflow:hidden;
    position:relative;
    background-color: #c5efdee3;
    border: thin solid #c60ec0;
     font-family: "Times New Roman", Times, serif;
}

.rm_container h2{
    background:transparent url(../images/lines.png) repeat top left;
    padding:10px 30px;
    position:absolute;
    bottom:15px;
    right:-20px;
    color:#635e5e;
    font-size:36px;
    text-transform:uppercase;
    font-family: cursive;
    color: #c60ec0;
}


.text:before {
    color: #555555;
    content: "Docencâœa";    
    position: absolute;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); 
    top: 0px;
    margin-left: 380px;
    -moz-transition: all 0.6s ease-out 0s;
}

.rm_wrapper{
    width:1160px;
    margin:0 auto;
    position:relative;
}

.rm_container ul li{
    float:left;
    margin-left:-80px;
    position:relative;
    overflow:hidden;
    border-width:50px 30px 0px 30px;
    background-image: url(../images/bg.jpg);
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -moz-box-shadow:0px 0px 4px #000000;
    -webkit-box-shadow:0px 0px 4px #000000;
    box-shadow:0px 0px 4px #000000;
}

table .fondo_azul{
    background-image:url(../images/fondo_azul.jpg);   
    text-align: right;
}

.text-center .caja_texto{    
    height: 35px;
}

.text-center .table tbody{
    background-color:#f0f0f0;
}

.text-center .table thead .t-header{
    background-color:darkgrey;
}

a:hover{
    color:blue;
    text-decoration: none;
}


.div_login{
    margin-bottom: 20px; 
    font-family: 'PT Sans Narrow', Arial, sans-serif;
}

.breadcrumb{
    background-color: transparent;
}

.dropdown-menu{
    background-color: transparent;
    width: 0;
    height: 0;
}

/****  activity  DETAILS    ***/
.details_table{
    width: 90%;
    margin: 30px auto;
}
.details_table td{
    border-style: solid;
    border-width: 2px;
    border-color:silver;
    padding: 15px;
    background-color:#EEEEEE;
}

.panel-success > .panel-heading{
    background-color: #c5efdee3;
    color: #c60ec0;
}
/****    INDEX    ***/
a .span_role{
    color: #c60ec0;
    font-weight: 700;
    font-family: cursive;
}
.span_role{
    padding: 10px;
    margin: 0 10px;
    position: absolute;
    font-size: xx-large;
    top: 220;
    width: -webkit-fill-available;
    opacity: 0.6;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 320px) and (max-width: 767px) { 
    .span_role{
        margin: 0 auto;
    }
}
/**** end   INDEX    ***/


/****************************************************************/
/****    HOME PROFESSOR   ***/
.home_professor .btn-lg{
    width: 35%;
    background-color: white;
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 320px) and (max-width: 767px) { 
    .home_professor .btn-lg{
        width: 100%;
    }
}
/****    end HOME PROFESSOR    ***/
/***************************************************************/



/*small devices (mobiles, 375px and up)*/
@media (min-width: 375px) and (max-width: 767px) {
    .center_text_xs, .center_text_xs img{
       margin: auto;
       text-align: center;
    }
    
    .details_table{
        width: auto;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
}



/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  width: 300px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 300px;
  height: 300px;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #c5efdee3;
  color: #c60ec0;
  transform: rotateY(180deg);
}

.flip-card, .flip-card-back, .flip-card-front{
    border-radius: 6px;
}

.flip-card-back p{
    margin-top: 40px;
}

.my_button{
    background-color: #c5efdee3;
    width: 105px;
    color: #c60ec0;
}

.my_button:hover{
    color: #c5efdee3;
    background-color: #c60ec0;
}

form{
    font-family: cursive;
}

a{
    color: #c60ec0;
}

.btn_login{
    background-color: #c60ec0;
    color: #c5efdee3; 
}

.btn_login:hover{
    background-color: #c5efdee3;
    color: #c60ec0;
    border: thin solid #c60ec0;
}